@layer reset, base, component, page;

@layer base {
  :root {
    --font-sans:
      -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue,
      Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
    --font-serif:
      Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times,
      Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    --font-mono: Menlo, Consolas, Monaco, Adwaita Mono, Liberation Mono, Lucida Console, monospace;
  }

  body {
    font-family: var(--font-sans);
    margin: 0 1.5rem;
  }
  main {
    max-width: 45rem;
  }

  button {
    padding-inline: 0.5rem;
  }

  code {
    font-family: var(--font-mono);
  }

  fieldset {
    display: flex;
    gap: 0.5rem;
    margin-block: 1rem;
    padding: 1rem;
    align-items: flex-start;
  }

  .field:has(input[type='checkbox']),
  .field:has(input[type='radio']) {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }

  .field:has(input[type='range']),
  .field:has(input[type='text']),
  .field:has(textarea) {
    display: inline-flex;
    flex-direction: column;
    align-self: stretch;
    align-items: flex-start;
  }

  p {
    margin-block: 1rem;
  }
}
